* {
  box-sizing: border-box;
}
h2,
h1 {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-image: url("bg-hero-desktop.svg");
  background-color: hsl(193, 100%, 96%);
  padding: 1em;
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.div1 {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  height: 100px;
}

.div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 2em;
}

.top1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 4em;
  margin-top: 30px;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
  grid-area: b;
  width: 95%;
  background-color: whitesmoke;
}

.top2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 4em;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  width: 95%;
}

.top3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 4em;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  width: 95%;
  margin-bottom: 40px;
}

.top4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 2em;
  margin-top: 0px;
  border-radius: 10px;
  background-color: rgb(255, 252, 248);
  width: 95%;
  margin-bottom: -40px;
}

.top5 {
  padding-top: 110px;
  padding-left: 10px;
  padding-right: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  margin-top: -40px;
  border-radius: 0 0 8px 8px;
  background-color: hsl(192, 100%, 9%);
  grid-area: f;
}

.but1 {
  border-color: white;
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  transition: width 2s linear 1s;
}

.but2 {
  border-color: hsl(322, 100%, 66%);
  border-radius: 20px;
  background-color: hsl(322, 100%, 66%);
  color: antiquewhite;
  padding: 1em;
  width: 80%;
  margin-top: 6px;
  margin-bottom: 20px;
  transition: width 2s linear 1s;
}

.but2:active {
  background-color: hsl(322, 100%, 66%, 0.2);
}

.but3 {
  border-color: hsl(322, 100%, 66%);
  border-radius: 20px;
  background-color: hsl(322, 100%, 66%);
  padding: 1em;
  width: 80%;
  margin-top: 6px;
  margin-bottom: 6px;
}

.but3:active {
  background-color: hsl(322, 100%, 66%, 0.3);
}

.trans1 {
  width: 80%;
  transition: width 2s linear 1s;
}
.trans1:hover {
  width: 300px;
}

img {
  max-width: 280px;
}
.whitelogo {
  -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
  filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
  }
.social {
  border: 0.5px solid white;
  border-radius: 50%;
  color: white;
  margin-right: 1em;
  padding: 0.3em;
  place-items: center;
}

.copy {
  color: white;
}

.top5 p,
h3,
h6 {
  color: white;
}
.top5a,
.top5b,
.top5c {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.top5d {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  place-items: center;
  justify-content: center;
}

.psocial {
  display: flex;
}

@media screen and (min-width: 376px) {
  body {
    width: 100%;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  .div2 {
    display: flex;
    flex-direction: row;
  }
  .div2a,
  .div2b,
  .top1a,
  .top1b,
  .top2a,
  .top2b,
  .top3a,
  .top3b {
    width: 50%;
    padding: 2em;
  }
  .top1,
  .top2,
  .top3,
  .top5 {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .top5a,
  .top5b,
  .top5c {
    width: 25%;
    padding: 1em;
    justify-content: center;
    margin-top: 10px;
    margin-right: 20px;
  }

  .top5d {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
  }

  .psocial {
    display: flex;
    margin-top: 120px;
  }
}
