*{
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 375px;
    Font-size: 18px;
}
header{
    background-image: url("bg-hero-desktop.svg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 2em;
    background-color: hsl(193, 100%, 96%);
    grid-area: a;

}

.top1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 2em;
    margin-top: 30px;
    border-radius: 8px;
    grid-area: b;
}

.top2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 2em;
    margin-top: 20px;
    border-radius: 8px;
    background-color: hsl(193, 100%, 96%);
    grid-area: c;
}

.top3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 2em;
    margin-top: 20px;
    border-radius: 8px;
    background-color: hsl(193, 100%, 96%);
    grid-area: d;

}

.top4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 2em;
    margin-top: 20px;
    border-radius: 8px;
    background-color: hsl(193, 100%, 96%);
    grid-area: e;
}

.top5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 2em;
    margin-top: 20px;
    border-radius: 8px;
    background-color: hsl(192, 100%, 9%);
    grid-area: f;
}

.but1{
    border-color: white;
    background-color:white;
    border-radius: 15px;
    padding: 1em;
}
.but2{
    border-color: hsl(322, 100%, 66%);
    border-radius: 15px;
    background-color:hsl(322, 100%, 66%);
    color:antiquewhite;
    padding: 1em;
    width: 60%;
}
.but3{
    border-color:hsl(322, 100%, 66%);
    border-radius: 15px;
    background-color:hsl(322, 100%, 66%);
    padding: 2em;
    width: 60%;
}

img{
    max-width: 200px;
}
